#like:hover,
#comment:hover {
  background: #fff;
}

.icon-liked {
  color: red;
  animation: example alternate-reverse 1s ease-in-out;
}

@keyframes example {
  50% {
    font-size: 20px;
    transform: rotate(-15deg);
  }
}
