.comment-image-wrapper .ant-image-mask {
  border-radius: 0.25rem;
}

.comment-image-wrapper .ant-image-mask-info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.comment-image-wrapper img {
  border-radius: 0.25rem;
}

.comment-section {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 10px;
}

.comment-react-wrapper {
  position: absolute;
  bottom: -20px;
  right: -10px;
}

.comment-reacted {
  animation: comment-reacted alternate-reverse 1s ease-in;
}

.comment-liked {
  padding: 5px;
  color: #fff;
  background: #0d6efd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  animation: comment-liked alternate-reverse 1s ease-in;
}

@keyframes comment-liked {
  50% {
    width: 25px;
    height: 25px;
    transform: rotate(-15deg);
  }
}

@keyframes comment-reacted {
  50% {
    font-size: 25px;
    transform: rotate(-15deg);
  }
}
