.closed-post-modal-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #747272;
  font-size: 2rem;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.closed-post-modal-icon:hover {
  opacity: 1;
}

.post-photo-modal {
  padding: 0 !important;
}

.post-photo-modal .modal-content {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: max-content;
  background-color: #9b9999 !important;
  min-height: 100vh;
}

.post-photo-modal-wrapper {
  padding: 20px;
}
