.avatar-photo {
  height: 30vh;
  width: 100%;
}

.carousel-photo {
  width: 100%;
  height: 50vh;
}

.carousel-upload-avatar {
  width: 100%;
  height: 75vh;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.164);
  width: 14%;
}

.carousel-control-next,
.carousel-control-prev {
  transition: all 0.5s;
}

@media screen and (min-width: 568px) {
  .avatar-photo {
    height: 60vh;
  }

  .carousel-photo {
    height: 100vh;
  }

  .carousel-upload-avatar {
    height: 90vh;
  }
}

.user-photo-modal-wrapper {
  opacity: 1;
  transition: all 0.5s;
}

.user-photo-modal-wrapper:hover {
  opacity: 0.8;
}

.album-tabs .nav-item {
  flex-grow: 1;
}

.album-tabs .nav-item button {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.avatar-modal_icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #747272;
  font-size: 25px;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.avatar-modal_icon:hover {
  opacity: 1;
}

.avatar-modal_icon-option {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
}

.avatar-modal_icon-close {
  position: absolute;
  top: 1.5rem;
  left: 1.25rem;
}

@media screen and (min-width: 568px) {
  .avatar-modal_icon {
    width: 3rem;
    height: 3rem;
    font-size: 30px;
  }

  .avatar-modal_icon-close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }

  .avatar-modal_icon-option {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}
