.avatar-wrapper .ant-image-mask {
  border-radius: 50%;
}

.avatar-wrapper {
  position: relative;
}

.avatar-wrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar-wrapper .ant-image-mask-info {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.avatar-wrapper-text {
  background-color: pink;
  border: 1px solid #0b3d6b;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.avatar-wrapper-text span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
}
