.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator::before {
  margin-right: 5px;
}

.separator::after {
  margin-left: 5px;
}

.closed-icon {
  color: rgba(0, 0, 0, 0.4);
}

svg.closed-icon:hover {
  width: 2rem;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.459);
  transition: all 0.5s;
}
