.message-edit {
  cursor: pointer;
  visibility: hidden;
  opacity: 0.5;
  height: 30px;
  width: 30px;
  position: relative;
}

.message-edit svg {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  color: #1c1e21;
}

.message-edit:hover {
  background-color: #b3b3b3;
  border-radius: 50%;
  opacity: 1;
}

.message-content:hover .message-edit {
  visibility: visible;
}
