.message-edit {
  cursor: pointer;
  visibility: hidden;
  opacity: 0.5;
  height: 30px;
  width: 30px;
  position: relative;
  color: #e0e021;
  transition: all 0.5s;
}

.message-edit svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #1c1e21;
}

.message-edit:hover {
  background-color: #b3b3b3;
  border-radius: 50%;
  opacity: 1;
}

.message-content:hover .message-edit {
  visibility: visible;
}

.emoji-react {
  background-image: linear-gradient(to bottom, #ffac8b, #ffc815);
  font-size: 40px;
  border-radius: 50%;
  color: #000;
  opacity: 0.7;
}

.emoji-react:hover {
  opacity: 1;
}
