@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Roboto";

  background: #83a4d4; /* Fallback for older browser */
  background: linear-gradient(to left, #b6fbff, rgba(255, 192, 203, 0.527));
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
